:root{
    --color-accent: {{color2CssRGB(res.color.attr.colorAccent)}};
    --color-background: {{color2CssRGB(res.color.attr.windowBackgroundColor)}};
    --color-text: {{color2CssRGB(android.res.color.attr.textColorPrimary)}};
    --color-border: {{color2CssRGB(res.color.attr.strokeColor)}};
}

html,
body {
    background: var(--color-background);
    color: var(--color-text);
    word-break: break-all;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 16px;
    margin: 0px;
}

h1 {
    padding-bottom: 4.8px;
    border-bottom: 1.5px solid var(--color-border);
}

h2 {
    padding-bottom: 4.8px;
    border-bottom: 1.5px solid var(--color-border);
}

img {
    max-width: 100%;
    border-radius: 4px;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


code {
    display: inline-block;
    background: var(--color-border);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    max-width: 100%;
    overflow: auto;
    vertical-align: top;
}

blockquote {
    padding: 0 16px;
    margin: 0;
    border-left: 8px solid var(--color-border);
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

table {
    overflow: auto;
    border-spacing:0;
    border-collapse: collapse;
}

table th {
    font-weight: 600;
}

table th,
table td {
    padding: 6px 13px;
    border: 1.5px solid var(--color-border);
}


@media (prefers-color-scheme: dark) {
    body {
        color-scheme: dark;
    }
}


