@font-face {
    font-family: 'Consolas Code Online';
    src: url('/fonts/CascadiaCode.ttf');
}

:root {
    --c-brand: #3F51B5; //主题色
    --c-brand-light: #5C6BC0; //主题亮色

    --c-bg-light: #F5F5F5; //亮背景色，用于表格，代码框，提示等
    --c-bg-lighter: #EEEEEE; //更亮背景色，用于小代码框，代码框内高亮

    --c-text: black;
    --c-text-lighter: #1A237E;
    --c-text-quote: #616161;

    --code-ln-wrapper-width: 2rem;
    --code-bg-color: var(--c-bg-light);
    --code-hl-bg-color: #E0E0E0 !important;

    --c-border: #E0E0E0;
    --c-border-dark: #E0E0E0;

    --c-tip: var(--c-brand) !important;

    --c-warning: #FF6F00 !important;
    --c-warning-text: #BF360C !important;
    --c-warning-title: var(--c-warning) !important;
    --c-warning-bg: rgba(255, 111, 0, 0.25);

    --c-danger: #B71C1C !important;
    --c-danger-text: #801414 !important;
    --c-danger-title: var(--c-danger) !important;
    --c-danger-bg: rgba(183, 28, 28, 0.25);

    --c-details-bg: var(--c-bg-light) !important;

    --font-family-code: "Consolas Code", "Consolas Code Online", Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --font-family: system-ui, "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --content-width: 960px;
}

html.dark {
    --c-brand: #5C6BC0;
    --c-brand-light: #7986CB;

    --c-bg: #212121;
    --c-bg-light: #303030;
    --c-bg-lighter: #424242;

    --c-text: #F5F5F5;
    --c-text-lighter: #C5CAE9;

    --code-hl-bg-color: var(--c-bg-lighter) !important;

    --c-border: #424242;
    --c-border-dark: #424242;

    --c-details-bg: #424242;


    --c-warning-bg: rgba(255, 183, 77, 0.5);

    --c-danger-bg: rgba(229, 115, 115, 0.6);
}

//缩小表格边距
th,
td {
    padding: 0.6em 0.8em;
}
tr:nth-child(2n) {
    background-color: #FAFAFA;
}

//给代码框设置自适应主题
.theme-default-content pre code,
.theme-default-content pre[class*=language-] code {
    color: black;
}

.dark .theme-default-content pre code,
.dark .theme-default-content pre[class*=language-] code {
    color: #E0E0E0;
}

//缩小代码框左边间距
div[class*=language-].line-numbers-mode pre {
    padding-left: 0.6rem;
}

//缩小代码行数上下边距
div[class*=language-].line-numbers-mode .line-numbers {
    padding-top: 0.45rem;
}

//缩小代码高亮上下边距
div[class*=language-] .highlight-lines {
    padding-top: 0.5rem;
}

//缩小代码框上下间距
.theme-default-content pre,
.theme-default-content pre[class*=language-] {
    padding: 0.5rem 2rem;
    margin: 0.8rem 0;
}



//代码高亮
.token.string {
    color: #c2185b;
}

.dark .token.string {
    color: #EC407A;
}

.token.punctuation {
    color: #616161;
}

.token.number,
.token.function {
    color: #5C6BC0;
}

.token.operator,
.token.entity,
.token.url {
    color: #616161;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #9E9E9E;
}

.token.comment {
    font-style: italic;
}

.token.boolean,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #3f51b5;
    font-weight: bold;
}

.custom-container.tip,
.custom-container.warning,
.custom-container.danger {
    padding: 0.1rem 1rem;
    border-left-width: 0.4rem;
}

.custom-container.warning code {
    background-color: rgba(0, 0, 0, 0.067);
    color: var(--c-warning);
}


.custom-container.danger code {
    background-color: rgba(0, 0, 0, 0.067);
    color: var(--c-danger);
}

.dark .custom-container.warning code,
.dark .custom-container.danger code {
    background-color: rgba(255, 255, 255, 0.133);
}

.custom-container.warning blockquote,
.custom-container.danger blockquote {
    border-left: 0.2rem solid #757575;
}

.dark .custom-container.warning blockquote,
.dark .custom-container.danger blockquote {
    border-left: 0.2rem solid #bdbdbd;
}

.code-group__nav-tab {
    color: var(--c-text);
}

.badge {
    color: white;
}

// 官方没有给lua写上语言标注，这里补一下
div[class*=language-].ext-lua:before {
    content: "lua";
}

div{
    transition: background-color var(--t-color);
}