@font-face {
  font-family: 'JetBrains Mono Online';
  src: url('/fonts/JetBrainsMono.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono Online';
  src: url('/fonts/JetBrainsMono-Italic.ttf');
  font-style: italic;
}